@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer base {

    *,
    ::before,
    ::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #fff;
        -webkit-font-smoothing: antialiased;
    }

    body::-webkit-scrollbar {
        width: 0.4rem;
    }

    body::-webkit-scrollbar-thumb {
        background: #202024;
    }

    body,
    input,
    textarea,
    button {
        font-family: 'Poppins', sans-serif;
        color: #202024;
        font-weight: 400;
    }
}

@layer components {
    .container {
        @apply max-w-[calc(100vw-((100vw-980px)/2))] ms-auto me-auto md:px-4
    }
}